In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
# Đọc dữ liệu
df = pd.read_csv("../data_clean/05.ThiSinh.csv")
df.head()

,mssv,dien_tt,diem_tt,matinh,xl_tt_x,khuvuc,xl_tt_y,khuvuc_1.0,khuvuc_2.0,khuvuc_3.0,khuvuc_4.0,khuvuc_5.0,khuvuc_6.0,khuvuc_7.0
0,7E308531XPvAibaEXe879+AOg1gh8i58Q/VMq7RU,THPT,24.5,53.0,NaN,7.0,0.0,0,0,0,0,0,0,1
1,0FCB6532XPvAibaEXe879+AOg1gh8o0EEQcYQ8HR,THPT,27.5,16.0,NaN,2.0,2.0,0,1,0,0,0,0,0
2,BAF446BFXPvAibaEXe879+AOg1gh8uQrEauqA0AG,THPT,25.0,42.0,NaN,4.0,1.0,0,0,0,1,0,0,0
3,599DFFB8XPvAibaEXe879+AOg1gh8lJvChSN7o+V,THPT,28.0,51.0,NaN,7.0,2.0,0,0,0,0,0,0,1
4,364B9E9BXPvAibaEXe879+AOg1gh8sRVdBmZSiXe,THPT,24.5,52.0,NaN,6.0,0.0,0,0,0,0,0,1,0

In [3]:
df['xl_tt_x'] = df['xl_tt_x'].fillna(df['xl_tt_y'])
# Xóa cột 'xl_tt_y' sau khi sử dụng
df = df.drop('xl_tt_y', axis=1)

# # Đổi tên cột 'xl_tt_x' thành 'xl_tt'
df = df.rename(columns={'xl_tt_x': 'xl_tt'})

In [4]:
df.isna().sum()

mssv             0
dien_tt          0
diem_tt        128
matinh        2174
xl_tt            0
khuvuc           0
khuvuc_1.0       0
khuvuc_2.0       0
khuvuc_3.0       0
khuvuc_4.0       0
khuvuc_5.0       0
khuvuc_6.0       0
khuvuc_7.0       0
dtype: int64

In [5]:
df.to_csv('../data_clean/05.ThiSinh.csv', index=False)