In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

# Bảng sinh viên

In [4]:
df_sinhvien = pd.read_csv("../data_clean/01.sinhvien.csv")
df_sinhvien.head()

,mssv,namsinh,gioitinh,noisinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,tinhtrang,diachi_tinhtp
0,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1995.0,1.0,hồ chí minh,KTPM0001,CNPM,CQUI,8.0,D480103,3.0,thành phố hồ chí minh
1,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1995.0,1.0,đồng tháp,HTTT0001,HTTT,CTTT,8.0,D480104,3.0,huyện hóc môn
2,83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt,1994.0,1.0,hà nam ninh,KHMT2013,KHMT,CQUI,8.0,D480101,5.0,tỉnh hà nam
3,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1995.0,1.0,hồ chí minh,HTTT0001,HTTT,CTTT,8.0,D480104,3.0,thành phố hồ chí minh
4,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1995.0,1.0,hồ chí minh,MMTT0001,MMT&TT,CQUI,8.0,D480201,8.0,thành phố hồ chí minh

In [5]:
df_sinhvien.drop(columns=["namsinh", "noisinh", "tinhtrang", "diachi_tinhtp"], inplace=True)

# Bảng thí sinh

In [6]:
df_thisinh = pd.read_csv("../data_clean/05.ThiSinh.csv")
df_thisinh.head()

,mssv,dien_tt,diem_tt,matinh,xl_tt,khuvuc,khuvuc_1.0,khuvuc_2.0,khuvuc_3.0,khuvuc_4.0,khuvuc_5.0,khuvuc_6.0,khuvuc_7.0
0,7E308531XPvAibaEXe879+AOg1gh8i58Q/VMq7RU,THPT,24.5,53.0,2.0,7.0,0,0,0,0,0,0,1
1,0FCB6532XPvAibaEXe879+AOg1gh8o0EEQcYQ8HR,THPT,27.5,16.0,3.0,2.0,0,1,0,0,0,0,0
2,BAF446BFXPvAibaEXe879+AOg1gh8uQrEauqA0AG,THPT,25.0,42.0,3.0,4.0,0,0,0,1,0,0,0
3,599DFFB8XPvAibaEXe879+AOg1gh8lJvChSN7o+V,THPT,28.0,51.0,4.0,7.0,0,0,0,0,0,0,1
4,364B9E9BXPvAibaEXe879+AOg1gh8sRVdBmZSiXe,THPT,24.5,52.0,2.0,6.0,0,0,0,0,0,1,0

In [7]:
df_thisinh.drop(columns=["dien_tt", "diem_tt", "matinh", "khuvuc"], inplace=True)

# Merge1 sinh viên & thí sinh

In [8]:
merge_df1 = pd.merge(df_sinhvien, df_thisinh, on="mssv", how="inner")
merge_df1.head()

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,xl_tt,khuvuc_1.0,khuvuc_2.0,khuvuc_3.0,khuvuc_4.0,khuvuc_5.0,khuvuc_6.0,khuvuc_7.0
0,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1.0,KTPM0001,CNPM,CQUI,8.0,D480103,4.0,0,0,0,0,0,1,0
1,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,3.0,0,0,0,0,0,1,0
2,83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt,1.0,KHMT2013,KHMT,CQUI,8.0,D480101,3.0,0,0,0,0,0,1,0
3,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,2.0,0,0,0,0,0,1,0
4,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1.0,MMTT0001,MMT&TT,CQUI,8.0,D480201,4.0,0,0,0,0,0,1,0

# Bảng điểm Anh văn đầu vào

In [9]:
df_av = pd.read_csv("../data_clean/04.xeploaiav.csv")
df_av.head()

                                       mssv  total  xl_av
0  DA75FFFEXPvAibaEXe8808q51BnmQhHT8REwWMQJ   15.0    0.0
1  336B9F53XPvAibaEXe/jd8ghaf1GTNPSHNuhAHTZ   15.0    0.0
2  67A51DC3XPvAibaEXe/7YVAxOsMwOtCFvKInEQ0e   16.0    0.0
3  387E2EFEXPvAibaEXe96K1aB3B4cKSj8mKKciukN   16.0    0.0
4  13D900A2XPvAibaEXe97wmuqTYuV7bJOKimbzKxM   18.0    0.0

In [10]:
df_av.drop(columns=["total"], inplace=True)

# Merge2 bảng điểm Anh văn

In [11]:
merge_df2 = pd.merge(merge_df1, df_av, on="mssv", how="left")
merge_df2.head()

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,xl_tt,khuvuc_1.0,khuvuc_2.0,khuvuc_3.0,khuvuc_4.0,khuvuc_5.0,khuvuc_6.0,khuvuc_7.0,xl_av
0,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1.0,KTPM0001,CNPM,CQUI,8.0,D480103,4.0,0,0,0,0,0,1,0,NaN
1,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,3.0,0,0,0,0,0,1,0,NaN
2,83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt,1.0,KHMT2013,KHMT,CQUI,8.0,D480101,3.0,0,0,0,0,0,1,0,NaN
3,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,2.0,0,0,0,0,0,1,0,NaN
4,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1.0,MMTT0001,MMT&TT,CQUI,8.0,D480201,4.0,0,0,0,0,0,1,0,NaN

In [12]:
# Thống kê giá trị thiếu
merge_df2.isna().sum()

mssv               0
gioitinh           0
lopsh              0
khoa               0
hedt               0
khoahoc            0
chuyennganh2       0
xl_tt              0
khuvuc_1.0         0
khuvuc_2.0         0
khuvuc_3.0         0
khuvuc_4.0         0
khuvuc_5.0         0
khuvuc_6.0         0
khuvuc_7.0         0
xl_av           3318
dtype: int64

In [13]:
# Fillna "xl_av" bằng giá trị trung bình
mode_xl_av = int(round(merge_df2["xl_av"].mean()))
merge_df2["xl_av"] = merge_df2["xl_av"].fillna(mode_xl_av)

# Điểm trung bình học kỳ

In [14]:
df_dtbhk = pd.read_csv("../data_clean/sinhvien_dtb_hocky.csv")
df_dtbhk.head()

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx
0,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2016,6.45,13,1
1,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2016,5.86,17,2
2,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2017,6.54,16,3
3,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2017,5.67,23,4
4,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2018,2.27,21,5

# Điểm rèn luyện

In [15]:
df_drl = pd.read_csv("../data_clean/07.diemrl.csv")
df_drl.head()

   id                                      mssv  hocky  namhoc  drl  xl_drl
0   1  2A10C466XPvAibaEXe8vcQUX+A6FeNIl5Loug1zV      2    2013   81       4
1   2  903ADF1AXPvAibaEXe9p5G9u2qRxxZEjiJjD4Ztl      2    2013   88       4
2   3  F06EDFFEXPvAibaEXe8KSegZW1rFPMNPBQ+c9rst      2    2013   94       5
3   4  AA868AD5XPvAibaEXe+1Gm1QkI5oNyTYwjwmgxhx      2    2013   86       4
4   5  E7105148XPvAibaEXe+E7LJdSZ9AW2sUcg4OSCnU      2    2013   88       4

In [16]:
df_drl.drop(columns=["id", "drl"], inplace=True)
df_drl.head()

                                       mssv  hocky  namhoc  xl_drl
0  2A10C466XPvAibaEXe8vcQUX+A6FeNIl5Loug1zV      2    2013       4
1  903ADF1AXPvAibaEXe9p5G9u2qRxxZEjiJjD4Ztl      2    2013       4
2  F06EDFFEXPvAibaEXe8KSegZW1rFPMNPBQ+c9rst      2    2013       5
3  AA868AD5XPvAibaEXe+1Gm1QkI5oNyTYwjwmgxhx      2    2013       4
4  E7105148XPvAibaEXe+E7LJdSZ9AW2sUcg4OSCnU      2    2013       4

# Merge3 dtb & drl

In [17]:
merge_df3 = pd.merge(df_dtbhk, df_drl, on=["mssv", "namhoc", "hocky"], how="left")
merge_df3

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx,xl_drl
0,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2016,6.45,13,1,3.0
1,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2016,5.86,17,2,3.0
2,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2017,6.54,16,3,3.0
3,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2017,5.67,23,4,3.0
4,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2018,2.27,21,5,3.0
...,...,...,...,...,...,...,...
84947,EA2A92C2XPvAibaEXe99J3nD1pBZIshWCsT6VhsJ,1,2022,6.70,3,15,NaN
84948,ED5A0E45XPvAibaEXe/CiPILllTJf8s+lllUG7Kd,1,2022,7.80,3,15,NaN
84949,09DE3A51XPvAibaEXe/GEP39G15BdRSEDU3D3+LV,2,2022,0.00,0,12,NaN
84950,CCF627D0XPvAibaEXe+oAybUv81bbkc8L/mx+IhC,2,2022,0.00,0,14,NaN
84951,A6169055XPvAibaEXe81r7KrCH0uc4QKxDeoWYb4,2,2022,0.00,0,12,NaN

In [18]:
# Bỏ dữ liệu học kỳ hè
merge_df3 = merge_df3.drop(merge_df3[merge_df3["hocky"] == 3].index)
merge_df3.shape

(80202, 7)

In [22]:
# Lọc những sinh viên có số học kỳ đã học >= 7
filtered_sv = merge_df3["mssv"][merge_df3["hocky_sx"]>=7].unique()
filtered_sv

array(['528F8C01XPvAibaEXe8c/asunKa47A4PEbC2JQwZ',
       '7A4947EAXPvAibaEXe8c/asunKa47MC7Zfux2sgr',
       '775B0760XPvAibaEXe8c/asunKa47DSKf4pHLmHt', ...,
       '23A201EAXPvAibaEXe+QrwS/gm46TaMBrb4xyvLe',
       '447A450FXPvAibaEXe+DUF+563kBvcBUq24gjVNl',
       '15265D5AXPvAibaEXe9MnecufC0W/gKo6J+oNWGX'], dtype=object)

In [23]:
# Lọc các dòng theo điều kiện: sinh viên có số học kỳ đã học >= 7 và hocky_sx <=7
df_filtered = merge_df3[(merge_df3["mssv"].isin(filtered_sv)) 
                        & (merge_df3["hocky_sx"]<=7)]
df_filtered

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx,xl_drl
0,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2016,6.45,13,1,3.0
1,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2016,5.86,17,2,3.0
2,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2017,6.54,16,3,3.0
3,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2017,5.67,23,4,3.0
4,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2018,2.27,21,5,3.0
...,...,...,...,...,...,...,...
84941,1D37D345XPvAibaEXe9Zp44TyFcBSAN7u3B08mRX,1,2022,9.00,10,7,5.0
84942,7C75D925XPvAibaEXe9Zp44TyFcBSARHrqyLyabd,1,2022,8.84,13,7,5.0
84943,23A201EAXPvAibaEXe+QrwS/gm46TaMBrb4xyvLe,1,2022,9.00,10,7,4.0
84944,447A450FXPvAibaEXe+DUF+563kBvcBUq24gjVNl,1,2022,6.40,10,7,3.0
84945,15265D5AXPvAibaEXe9MnecufC0W/gKo6J+oNWGX,1,2022,9.00,10,7,5.0

## Pivot theo dtbhk

In [24]:
# Tạo pivot table
pv_dtbhk = df_filtered.pivot_table(index="mssv", columns="hocky_sx", values="dtbhk")

# Chuyển pivot_table về dataframe với các cột theo học kỳ
pv_dtbhk = pv_dtbhk.reset_index()
pv_dtbhk.columns.name = None
pv_dtbhk.columns = ["mssv"] + ["dtbhk" + str(col) for col in pv_dtbhk.columns[1:]]
pv_dtbhk.head()

,mssv,dtbhk1,dtbhk2,dtbhk3,dtbhk4,dtbhk5,dtbhk6,dtbhk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,7.96,8.04,6.91,8.49,8.85,7.40,0.00

## Pivot theo drl

In [25]:
# Tạo pivot table
pv_drl = df_filtered.pivot_table(index="mssv", columns="hocky_sx", values="xl_drl")

# Chuyển pivot_table về dataframe với các cột theo học kỳ
pv_drl = pv_drl.reset_index()
pv_drl.columns.name = None
pv_drl.columns = ["mssv"] + ["xl_drl" + str(col) for col in pv_drl.columns[1:]]
pv_drl.head()

,mssv,xl_drl1,xl_drl2,xl_drl3,xl_drl4,xl_drl5,xl_drl6,xl_drl7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,5.0,5.0,5.0,5.0,5.0,5.0,5.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,4.0,3.0,3.0,5.0,3.0,3.0,2.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,4.0,5.0,5.0,5.0,5.0,5.0,4.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,5.0,5.0,5.0,3.0,4.0,5.0,5.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,5.0,5.0,5.0,5.0,5.0,5.0,NaN

In [26]:
# merge dtbhk & drl
merge_pv = pd.merge(pv_dtbhk, pv_drl, on="mssv", how="outer")
merge_pv.head()

,mssv,dtbhk1,dtbhk2,dtbhk3,dtbhk4,dtbhk5,dtbhk6,dtbhk7,xl_drl1,xl_drl2,xl_drl3,xl_drl4,xl_drl5,xl_drl6,xl_drl7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41,5.0,5.0,5.0,5.0,5.0,5.0,5.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92,4.0,3.0,3.0,5.0,3.0,3.0,2.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55,4.0,5.0,5.0,5.0,5.0,5.0,4.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53,5.0,5.0,5.0,3.0,4.0,5.0,5.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,7.96,8.04,6.91,8.49,8.85,7.40,0.00,5.0,5.0,5.0,5.0,5.0,5.0,NaN

## Pivot theo sotchk

In [27]:
# Tạo pivot table
pv_sotchk = df_filtered.pivot_table(index="mssv", columns="hocky_sx", values="sotchk")

# Chuyển pivot_table về dataframe với các cột theo học kỳ
pv_sotchk = pv_sotchk.reset_index()
pv_sotchk.columns.name = None
pv_sotchk.columns = ["mssv"] + ["sotchk" + str(col) for col in pv_sotchk.columns[1:]]
pv_sotchk.head()

,mssv,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,17.0,21.0,15.0,19.0,20.0,20.0,9.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,22.0,15.0,25.0,16.0,14.0,14.0,21.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,17.0,20.0,15.0,20.0,20.0,19.0,15.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,17.0,25.0,23.0,22.0,22.0,15.0,12.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,17.0,23.0,18.0,22.0,23.0,22.0,0.0

In [28]:
# merge dtbhk & drl & sotchk
merge_pv = pd.merge(merge_pv, pv_sotchk, on="mssv", how="outer")
merge_pv.head()

,mssv,dtbhk1,dtbhk2,dtbhk3,dtbhk4,dtbhk5,dtbhk6,dtbhk7,xl_drl1,xl_drl2,...,xl_drl5,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41,5.0,5.0,...,5.0,5.0,5.0,17.0,21.0,15.0,19.0,20.0,20.0,9.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92,4.0,3.0,...,3.0,3.0,2.0,22.0,15.0,25.0,16.0,14.0,14.0,21.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55,4.0,5.0,...,5.0,5.0,4.0,17.0,20.0,15.0,20.0,20.0,19.0,15.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53,5.0,5.0,...,4.0,5.0,5.0,17.0,25.0,23.0,22.0,22.0,15.0,12.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,7.96,8.04,6.91,8.49,8.85,7.40,0.00,5.0,5.0,...,5.0,5.0,NaN,17.0,23.0,18.0,22.0,23.0,22.0,0.0

In [29]:
merge_pv.isna().sum()

mssv         0
dtbhk1       0
dtbhk2      23
dtbhk3      18
dtbhk4      36
dtbhk5      56
dtbhk6      56
dtbhk7      37
xl_drl1      5
xl_drl2     24
xl_drl3     21
xl_drl4     44
xl_drl5     61
xl_drl6     57
xl_drl7    108
sotchk1      0
sotchk2     23
sotchk3     18
sotchk4     36
sotchk5     56
sotchk6     56
sotchk7     37
dtype: int64

In [30]:
# Fill nan
for col in merge_pv.columns[1:]:
    if col.startswith('dtbhk'):
        value = int(round(merge_pv[col].mean()))
        merge_pv[col] = merge_pv[col].fillna(value)
    else:
        value = int(round(merge_pv[col].mean()))
        merge_pv[col] = merge_pv[col].fillna(value)

# Merge sinhvien, thisinh & diem

In [31]:
result = pd.merge(merge_df2, merge_pv, on="mssv", how="right")
result

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,xl_tt,khuvuc_1.0,khuvuc_2.0,...,xl_drl5,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,0.0,TMĐT2019,HTTT,CQUI,14.0,D52480104,3.0,0,0,...,5.0,5.0,5.0,17.0,21.0,15.0,19.0,20.0,20.0,9.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,1.0,KTMT0001,KTMT,CQUI,8.0,D520214,3.0,0,0,...,3.0,3.0,2.0,22.0,15.0,25.0,16.0,14.0,14.0,21.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,1.0,PMCL2018.2,CNPM,CLC,13.0,D480103,1.0,0,0,...,5.0,5.0,4.0,17.0,20.0,15.0,20.0,20.0,19.0,15.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,1.0,KHMT2018,KHMT,CQUI,13.0,D480101,2.0,0,0,...,4.0,5.0,5.0,17.0,25.0,23.0,22.0,22.0,15.0,12.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,1.0,KHCL2019.1,KHMT,CLC,14.0,D480101,2.0,0,0,...,5.0,5.0,4.0,17.0,23.0,18.0,22.0,23.0,22.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7088,FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,1.0,CTTT2013,HTTT,CTTT,8.0,D480104,3.0,0,0,...,0.0,0.0,0.0,19.0,13.0,16.0,14.0,16.0,14.0,10.0
7089,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,1.0,KHDL2019,KTTT,CQUI,14.0,7480109,2.0,0,0,...,5.0,5.0,5.0,16.0,19.0,21.0,19.0,20.0,15.0,10.0
7090,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,1.0,ANTN2013,MMT&TT,CQUI,8.0,D480299,4.0,0,0,...,5.0,3.0,3.0,22.0,21.0,24.0,18.0,15.0,14.0,18.0
7091,FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,1.0,CNTT2017,KTTT,CQUI,12.0,D480201,3.0,0,0,...,3.0,3.0,3.0,20.0,20.0,17.0,18.0,19.0,18.0,16.0
7092,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,0.0,ATTN2016,MMT&TT,KSTN,11.0,D480299,4.0,0,0,...,4.0,4.0,5.0,19.0,21.0,21.0,19.0,18.0,19.0,18.0

In [32]:
# Tạo danh sách các khoảng giá trị và xếp loại tương ứng
bins = [-0.1, 4, 5, 7, 8, 9, 10]
labels = [0, 1, 2, 3, 4, 5]
# bins = [-0.1, 7, 10]
# labels = [0, 1]

# Áp dụng pd.cut để xếp loại giá trị của cột "diemtb"
for col in result.columns:
    if col.startswith('dtbhk'):
        result[col] = pd.cut(result[col], bins=bins, labels=labels)

# Chuẩn bị dữ liệu train, test

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
result["khoahoc"].value_counts()

14.0    1532
13.0    1243
12.0     934
11.0     892
10.0     880
9.0      833
8.0      779
Name: khoahoc, dtype: int64

In [36]:
# Dữ liệu train gồm các khóa 8, 9, 10, 11, 12, 13
data_train = result[result["khoahoc"]!=14].drop(columns=["mssv"])

#  Dữ liệu test là khóa 14
data_test = result[result["khoahoc"]==14].drop(columns=["mssv"])

print(data_train.shape[0])
print(data_test.shape[0])
print("Tỉ lệ tập test: ", data_test.shape[0]/(data_test.shape[0]+data_train.shape[0]))

5561
1532
Tỉ lệ tập test:  0.2159875934019456

In [37]:
result.columns

Index(['mssv', 'gioitinh', 'lopsh', 'khoa', 'hedt', 'khoahoc', 'chuyennganh2',
       'xl_tt', 'khuvuc_1.0', 'khuvuc_2.0', 'khuvuc_3.0', 'khuvuc_4.0',
       'khuvuc_5.0', 'khuvuc_6.0', 'khuvuc_7.0', 'xl_av', 'dtbhk1', 'dtbhk2',
       'dtbhk3', 'dtbhk4', 'dtbhk5', 'dtbhk6', 'dtbhk7', 'xl_drl1', 'xl_drl2',
       'xl_drl3', 'xl_drl4', 'xl_drl5', 'xl_drl6', 'xl_drl7', 'sotchk1',
       'sotchk2', 'sotchk3', 'sotchk4', 'sotchk5', 'sotchk6', 'sotchk7'],
      dtype='object')

# Dự đoán

In [38]:
# Thông tin chung
khuvuc = [col for col in result.columns if col.startswith("khuvuc")]
khoa = [col for col in result.columns if col.startswith("khoa_")]
hedt = [col for col in result.columns if col.startswith("hedt_")]
overview = ["gioitinh", "xl_tt", "xl_av", "khoahoc"] + khoa + hedt + khuvuc

In [39]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "xl_drl1"]

X_train = data_train[overview + detail]
X_test = data_test[overview + detail]
y_train = data_train["dtbhk2"]
y_test = data_test["dtbhk2"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.44190600522193213

In [40]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "dtbhk2", "xl_drl2"]

X_train = data_train[overview + detail]
X_test = data_test[overview + detail]
y_train = data_train["dtbhk3"]
y_test = data_test["dtbhk3"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.5966057441253264

In [41]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "dtbhk2", "dtbhk3", "xl_drl3"]

X_train = data_train[overview + detail]
X_test = data_test[overview + detail]
y_train = data_train["dtbhk4"]
y_test = data_test["dtbhk4"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.4960835509138381

In [42]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "dtbhk2", "dtbhk3", "dtbhk4", "xl_drl4"]

X_train = data_train[overview + detail]
X_test = data_test[overview + detail]
y_train = data_train["dtbhk5"]
y_test = data_test["dtbhk5"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.4830287206266319

In [43]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "xl_drl1", "dtbhk2", "xl_drl5", "dtbhk3", "xl_drl5", "dtbhk4", "xl_drl5", "dtbhk5", "xl_drl5"]

X_train = data_train[overview + detail]
X_test = data_test[overview + detail]
y_train = data_train["dtbhk5"]
y_test = data_test["dtbhk5"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6292428198433421

# Merge bảng tốt nghiệp

In [45]:
df_totnghiep = pd.read_csv("../data_clean/14.totnghiep.csv")
df_totnghiep

,id,mssv,xeploai,soquyetdinh,ngaycapvb
0,76328.0,E95E7C6DXPvAibaEXe+1j/AqdkpM22DHf6P99fDJ,Khá,178/QĐ_ĐHCNTT,14/04/2017
1,76663.0,D0FE4969XPvAibaEXe/yXiKgsgy0slCmJ5EKt6Ki,Giỏi,713/QĐ_ĐHCNTT,06/10/2017
2,76664.0,40F7E8D0XPvAibaEXe+nZBq3b0XEhfcwXLmoc4Pj,Giỏi,713/QĐ_ĐHCNTT,06/10/2017
3,76665.0,0A049F45XPvAibaEXe9CtFSNMbfIz9qE7i0Fu4My,Khá,713/QĐ_ĐHCNTT,06/10/2017
4,76666.0,7A7166DAXPvAibaEXe83V/kFvw2bBZ0o/KVHZc30,Khá,713/QĐ_ĐHCNTT,06/10/2017
...,...,...,...,...,...
1840,79855.0,A2698E63XPvAibaEXe+D5C9Re7EGLdYoD7VxJkyw,Khá,354/QĐ-ĐHCNTT,09/6/2021
1841,79856.0,B44C3B36XPvAibaEXe/ns/wSuHF6kEcjw3s5q9gL,Khá,354/QĐ-ĐHCNTT,09/6/2021
1842,79857.0,175475BBXPvAibaEXe8dBqMaN7rGhkux+ZR35bi9,Khá,354/QĐ-ĐHCNTT,09/6/2021
1843,79858.0,94A79F45XPvAibaEXe+dJypLAXKUXx9tmvinQDNg,Khá,354/QĐ-ĐHCNTT,09/6/2021
1844,79859.0,B721B939XPvAibaEXe9Q2McsUcINTscwU/8uZNla,Khá,354/QĐ-ĐHCNTT,09/6/2021);

In [46]:
df_totnghiep.drop(columns=["id", "soquyetdinh", "ngaycapvb"], inplace=True)

In [54]:
merge_df4 = pd.merge(result, df_totnghiep, on="mssv", how="inner")
merge_df4

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,xl_tt,khuvuc_1.0,khuvuc_2.0,...,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7,xeploai
0,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,1.0,KTMT0001,KTMT,CQUI,8.0,D520214,3.0,0,0,...,3.0,2.0,22.0,15.0,25.0,16.0,14.0,14.0,21.0,Khá
1,005D6433XPvAibaEXe9JJ0DEqozv6JkD0BJUpbna,1.0,ATTN2016,MMT&TT,KSTN,11.0,D480299,2.0,0,0,...,5.0,5.0,17.0,21.0,22.0,23.0,15.0,16.0,18.0,Giỏi
2,006B0A45XPvAibaEXe+TZKE2gC8nUj96gTN+8Bxy,1.0,MMTT2014,MMT&TT,CQUI,9.0,D480102,3.0,0,0,...,3.0,4.0,17.0,19.0,21.0,19.0,14.0,17.0,14.0,Khá
3,00A65C83XPvAibaEXe+BUGeEgVnB4GtsCU49A5+8,1.0,CNTT0001,KTTT,CQUI,10.0,D480201,2.0,0,0,...,5.0,4.0,17.0,21.0,13.0,16.0,20.0,17.0,23.0,Trung bình khá
4,00AD2952XPvAibaEXe/45+b0LBlJ7GBrgcGKBM3K,1.0,KTMT0001,KTMT,CLC,10.0,D520214,2.0,0,0,...,3.0,3.0,19.0,19.0,23.0,21.0,16.0,16.0,16.0,Trung bình khá
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,FF5BFE8AXPvAibaEXe9ysTifnGoMwSIhZIOZGH/s,1.0,KTMT0001,KTMT,CQUI,8.0,D520214,3.0,0,0,...,3.0,2.0,22.0,18.0,25.0,15.0,19.0,16.0,17.0,Trung bình khá
1826,FF601AFCXPvAibaEXe93PEySAJOVk+OR7t0UZryF,1.0,CNTT2013,KTTT,CQUI,8.0,D480201,2.0,0,0,...,4.0,5.0,22.0,22.0,29.0,14.0,17.0,18.0,17.0,Khá
1827,FF8D99CCXPvAibaEXe+D5C9Re7EGLbLZvNjN8yi5,1.0,KTMT0001,KTMT,CLC,11.0,D520214,1.0,0,0,...,4.0,3.0,19.0,17.0,21.0,21.0,19.0,16.0,16.0,Khá
1828,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,1.0,ANTN2013,MMT&TT,CQUI,8.0,D480299,4.0,0,0,...,3.0,3.0,22.0,21.0,24.0,18.0,15.0,14.0,18.0,Giỏi
1829,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,0.0,ATTN2016,MMT&TT,KSTN,11.0,D480299,4.0,0,0,...,4.0,5.0,19.0,21.0,21.0,19.0,18.0,19.0,18.0,Khá

In [55]:
merge_df4["xeploai"].unique()

array(['Khá', 'Giỏi', 'Trung bình khá', 'Xuất sắc'], dtype=object)

In [56]:
merge_df4['xeploai'] = merge_df4['xeploai'].replace(['Trung bình khá', 'Khá', 'Giỏi', 'Xuất sắc'], [0, 1, 2, 3])
merge_df4

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,xl_tt,khuvuc_1.0,khuvuc_2.0,...,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7,xeploai
0,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,1.0,KTMT0001,KTMT,CQUI,8.0,D520214,3.0,0,0,...,3.0,2.0,22.0,15.0,25.0,16.0,14.0,14.0,21.0,1
1,005D6433XPvAibaEXe9JJ0DEqozv6JkD0BJUpbna,1.0,ATTN2016,MMT&TT,KSTN,11.0,D480299,2.0,0,0,...,5.0,5.0,17.0,21.0,22.0,23.0,15.0,16.0,18.0,2
2,006B0A45XPvAibaEXe+TZKE2gC8nUj96gTN+8Bxy,1.0,MMTT2014,MMT&TT,CQUI,9.0,D480102,3.0,0,0,...,3.0,4.0,17.0,19.0,21.0,19.0,14.0,17.0,14.0,1
3,00A65C83XPvAibaEXe+BUGeEgVnB4GtsCU49A5+8,1.0,CNTT0001,KTTT,CQUI,10.0,D480201,2.0,0,0,...,5.0,4.0,17.0,21.0,13.0,16.0,20.0,17.0,23.0,0
4,00AD2952XPvAibaEXe/45+b0LBlJ7GBrgcGKBM3K,1.0,KTMT0001,KTMT,CLC,10.0,D520214,2.0,0,0,...,3.0,3.0,19.0,19.0,23.0,21.0,16.0,16.0,16.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,FF5BFE8AXPvAibaEXe9ysTifnGoMwSIhZIOZGH/s,1.0,KTMT0001,KTMT,CQUI,8.0,D520214,3.0,0,0,...,3.0,2.0,22.0,18.0,25.0,15.0,19.0,16.0,17.0,0
1826,FF601AFCXPvAibaEXe93PEySAJOVk+OR7t0UZryF,1.0,CNTT2013,KTTT,CQUI,8.0,D480201,2.0,0,0,...,4.0,5.0,22.0,22.0,29.0,14.0,17.0,18.0,17.0,1
1827,FF8D99CCXPvAibaEXe+D5C9Re7EGLbLZvNjN8yi5,1.0,KTMT0001,KTMT,CLC,11.0,D520214,1.0,0,0,...,4.0,3.0,19.0,17.0,21.0,21.0,19.0,16.0,16.0,1
1828,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,1.0,ANTN2013,MMT&TT,CQUI,8.0,D480299,4.0,0,0,...,3.0,3.0,22.0,21.0,24.0,18.0,15.0,14.0,18.0,2
1829,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,0.0,ATTN2016,MMT&TT,KSTN,11.0,D480299,4.0,0,0,...,4.0,5.0,19.0,21.0,21.0,19.0,18.0,19.0,18.0,1

In [57]:
one_hot_df = pd.get_dummies(merge_df4['khoa'], prefix='khoa')

# Kết hợp DataFrame one-hot encoding với merge_df4
merge_df4 = merge_df4.iloc[:, :2].join(one_hot_df).join(merge_df4.iloc[:, 2:])
merge_df4

,mssv,gioitinh,khoa_CNPM,khoa_HTTT,khoa_KHMT,khoa_KTMT,khoa_KTTT,khoa_MMT&TT,lopsh,khoa,...,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7,xeploai
0,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,1.0,0,0,0,1,0,0,KTMT0001,KTMT,...,3.0,2.0,22.0,15.0,25.0,16.0,14.0,14.0,21.0,1
1,005D6433XPvAibaEXe9JJ0DEqozv6JkD0BJUpbna,1.0,0,0,0,0,0,1,ATTN2016,MMT&TT,...,5.0,5.0,17.0,21.0,22.0,23.0,15.0,16.0,18.0,2
2,006B0A45XPvAibaEXe+TZKE2gC8nUj96gTN+8Bxy,1.0,0,0,0,0,0,1,MMTT2014,MMT&TT,...,3.0,4.0,17.0,19.0,21.0,19.0,14.0,17.0,14.0,1
3,00A65C83XPvAibaEXe+BUGeEgVnB4GtsCU49A5+8,1.0,0,0,0,0,1,0,CNTT0001,KTTT,...,5.0,4.0,17.0,21.0,13.0,16.0,20.0,17.0,23.0,0
4,00AD2952XPvAibaEXe/45+b0LBlJ7GBrgcGKBM3K,1.0,0,0,0,1,0,0,KTMT0001,KTMT,...,3.0,3.0,19.0,19.0,23.0,21.0,16.0,16.0,16.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,FF5BFE8AXPvAibaEXe9ysTifnGoMwSIhZIOZGH/s,1.0,0,0,0,1,0,0,KTMT0001,KTMT,...,3.0,2.0,22.0,18.0,25.0,15.0,19.0,16.0,17.0,0
1826,FF601AFCXPvAibaEXe93PEySAJOVk+OR7t0UZryF,1.0,0,0,0,0,1,0,CNTT2013,KTTT,...,4.0,5.0,22.0,22.0,29.0,14.0,17.0,18.0,17.0,1
1827,FF8D99CCXPvAibaEXe+D5C9Re7EGLbLZvNjN8yi5,1.0,0,0,0,1,0,0,KTMT0001,KTMT,...,4.0,3.0,19.0,17.0,21.0,21.0,19.0,16.0,16.0,1
1828,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,1.0,0,0,0,0,0,1,ANTN2013,MMT&TT,...,3.0,3.0,22.0,21.0,24.0,18.0,15.0,14.0,18.0,2
1829,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,0.0,0,0,0,0,0,1,ATTN2016,MMT&TT,...,4.0,5.0,19.0,21.0,21.0,19.0,18.0,19.0,18.0,1

In [58]:
merge_df4.drop(columns=["khoa"], inplace=True)

In [59]:
one_hot_df = pd.get_dummies(merge_df4['hedt'], prefix='hedt')

# Kết hợp DataFrame one-hot encoding với merge_df4
merge_df4 = merge_df4.iloc[:, :2].join(one_hot_df).join(merge_df4.iloc[:, 2:])
merge_df4

,mssv,gioitinh,hedt_ CLC,hedt_ CNTN,hedt_ CQUI,hedt_ CTTT,hedt_ KSTN,khoa_CNPM,khoa_HTTT,khoa_KHMT,...,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7,xeploai
0,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,1.0,0,0,1,0,0,0,0,0,...,3.0,2.0,22.0,15.0,25.0,16.0,14.0,14.0,21.0,1
1,005D6433XPvAibaEXe9JJ0DEqozv6JkD0BJUpbna,1.0,0,0,0,0,1,0,0,0,...,5.0,5.0,17.0,21.0,22.0,23.0,15.0,16.0,18.0,2
2,006B0A45XPvAibaEXe+TZKE2gC8nUj96gTN+8Bxy,1.0,0,0,1,0,0,0,0,0,...,3.0,4.0,17.0,19.0,21.0,19.0,14.0,17.0,14.0,1
3,00A65C83XPvAibaEXe+BUGeEgVnB4GtsCU49A5+8,1.0,0,0,1,0,0,0,0,0,...,5.0,4.0,17.0,21.0,13.0,16.0,20.0,17.0,23.0,0
4,00AD2952XPvAibaEXe/45+b0LBlJ7GBrgcGKBM3K,1.0,1,0,0,0,0,0,0,0,...,3.0,3.0,19.0,19.0,23.0,21.0,16.0,16.0,16.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,FF5BFE8AXPvAibaEXe9ysTifnGoMwSIhZIOZGH/s,1.0,0,0,1,0,0,0,0,0,...,3.0,2.0,22.0,18.0,25.0,15.0,19.0,16.0,17.0,0
1826,FF601AFCXPvAibaEXe93PEySAJOVk+OR7t0UZryF,1.0,0,0,1,0,0,0,0,0,...,4.0,5.0,22.0,22.0,29.0,14.0,17.0,18.0,17.0,1
1827,FF8D99CCXPvAibaEXe+D5C9Re7EGLbLZvNjN8yi5,1.0,1,0,0,0,0,0,0,0,...,4.0,3.0,19.0,17.0,21.0,21.0,19.0,16.0,16.0,1
1828,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,1.0,0,0,1,0,0,0,0,0,...,3.0,3.0,22.0,21.0,24.0,18.0,15.0,14.0,18.0,2
1829,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,0.0,0,0,0,0,1,0,0,0,...,4.0,5.0,19.0,21.0,21.0,19.0,18.0,19.0,18.0,1

In [60]:
merge_df4.drop(columns=["hedt"], inplace=True)

In [61]:
merge_df4["khoahoc"].value_counts()

8.0     549
9.0     508
10.0    458
11.0    275
12.0     40
Name: khoahoc, dtype: int64

In [129]:
# Dữ liệu train gồm các khóa 8, 9, 10
data_train = merge_df4[merge_df4["khoahoc"]<11].drop(columns=["mssv"])

#  Dữ liệu test là khóa 11, 12
data_test = merge_df4[merge_df4["khoahoc"]>=11].drop(columns=["mssv"])

print(data_train.shape[0])
print(data_test.shape[0])
print("Tỉ lệ tập test: ", data_test.shape[0]/(data_test.shape[0]+data_train.shape[0]))

1515
315
Tỉ lệ tập test:  0.1721311475409836

In [130]:
khuvuc = [col for col in merge_df4.columns if col.startswith("khuvuc")]
khoa = [col for col in merge_df4.columns if col.startswith("khoa_")]
hedt = [col for col in merge_df4.columns if col.startswith("hedt_")]
sotchk = [col for col in merge_df4.columns if col.startswith("sotchk")]

overview = ["gioitinh", "xl_tt", "xl_av", "khoahoc"] + khoa + hedt + khuvuc

In [131]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "xl_drl1"]+sotchk[:1]

fields = overview + detail

X_train = data_train[fields]
X_test = data_test[fields]
y_train = data_train["xeploai"]
y_test = data_test["xeploai"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6031746031746031

In [132]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2"]+sotchk[:2]

fields = overview + detail

X_train = data_train[fields]
X_test = data_test[fields]
y_train = data_train["xeploai"]
y_test = data_test["xeploai"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.692063492063492

In [133]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3"]+sotchk[:3]

fields = overview + detail

X_train = data_train[fields]
X_test = data_test[fields]
y_train = data_train["xeploai"]
y_test = data_test["xeploai"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6984126984126984

In [134]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "dtbhk4", "xl_drl4"]+sotchk[:4]

fields = overview + detail

X_train = data_train[fields]
X_test = data_test[fields]
y_train = data_train["xeploai"]
y_test = data_test["xeploai"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7428571428571429

In [135]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "dtbhk4", "xl_drl4", "dtbhk5", "xl_drl5"]+sotchk[:5]

fields = overview + detail

X_train = data_train[fields]
X_test = data_test[fields]
y_train = data_train["xeploai"]
y_test = data_test["xeploai"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7428571428571429

In [136]:
# Thuộc tính riêng cho học kỳ
detail = ["dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "dtbhk4", "xl_drl4", "dtbhk5", "xl_drl5", "dtbhk6", "xl_drl6"]+sotchk[:6]

fields = overview + detail

X_train = data_train[fields]
X_test = data_test[fields]
y_train = data_train["xeploai"]
y_test = data_test["xeploai"]

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

e:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7619047619047619