In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

# sinhvien

In [2]:
df_sinhvien = pd.read_csv("../data_clean/01.sinhvien.csv")
df_sinhvien

,mssv,namsinh,gioitinh,noisinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,tinhtrang,diachi_tinhtp
0,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1995.0,1.0,hồ chí minh,KTPM0001,CNPM,CQUI,8.0,D480103,3.0,thành phố hồ chí minh
1,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1995.0,1.0,đồng tháp,HTTT0001,HTTT,CTTT,8.0,D480104,3.0,huyện hóc môn
2,83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt,1994.0,1.0,hà nam ninh,KHMT2013,KHMT,CQUI,8.0,D480101,5.0,tỉnh hà nam
3,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1995.0,1.0,hồ chí minh,HTTT0001,HTTT,CTTT,8.0,D480104,3.0,thành phố hồ chí minh
4,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1995.0,1.0,hồ chí minh,MMTT0001,MMT&TT,CQUI,8.0,D480201,8.0,thành phố hồ chí minh
...,...,...,...,...,...,...,...,...,...,...,...
8290,7D7633B0XPvAibaEXe95IhrkYSGfcCQVGm4nFGyt,2000.0,1.0,an giang,MMCL2019.2,MMT&TT,CLC,14.0,7480102,2.0,tỉnh an giang
8291,AB431338XPvAibaEXe8xMCTZ03/BexWzDCyWVsT3,2001.0,1.0,bình thuận,KHMT2019,KHMT,CQUI,14.0,D480101,1.0,tỉnh bình thuận
8292,75AD7B4AXPvAibaEXe8xMCTZ03/BewoGrWSt0ZXM,2001.0,1.0,lâm đồng,KHMT2019,KHMT,CQUI,14.0,D480101,1.0,tỉnh lâm đồng
8293,CB263C18XPvAibaEXe8xMCTZ03/Be8yk40QWdPiR,2000.0,1.0,bến tre,CNTT2019,KTTT,CQUI,14.0,D480201,1.0,tỉnh bến tre
8294,7CD9B404XPvAibaEXe8M4ltS8XjC9c/g97NvpP52,2001.0,1.0,hồ chí minh,TMCL2020,HTTT,CLC,14.0,D52480104,1.0,thành phố biên hoà

In [3]:
df_sinhvien.drop(columns=["namsinh", "noisinh", "tinhtrang", "diachi_tinhtp"], inplace=True)

# thisinh

In [4]:
df_thisinh = pd.read_csv("../data_clean/05.ThiSinh.csv")
df_thisinh

,mssv,dien_tt,diem_tt,matinh,xl_tt,khuvuc,khuvuc_1.0,khuvuc_2.0,khuvuc_3.0,khuvuc_4.0,khuvuc_5.0,khuvuc_6.0,khuvuc_7.0
0,7E308531XPvAibaEXe879+AOg1gh8i58Q/VMq7RU,THPT,24.50,53.0,2.0,7.0,0,0,0,0,0,0,1
1,0FCB6532XPvAibaEXe879+AOg1gh8o0EEQcYQ8HR,THPT,27.50,16.0,3.0,2.0,0,1,0,0,0,0,0
2,BAF446BFXPvAibaEXe879+AOg1gh8uQrEauqA0AG,THPT,25.00,42.0,3.0,4.0,0,0,0,1,0,0,0
3,599DFFB8XPvAibaEXe879+AOg1gh8lJvChSN7o+V,THPT,28.00,51.0,4.0,7.0,0,0,0,0,0,0,1
4,364B9E9BXPvAibaEXe879+AOg1gh8sRVdBmZSiXe,THPT,24.50,52.0,2.0,6.0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,418187C9XPvAibaEXe8Wb350a8ibnhbWI4z++VY2,THPT,21.10,56.0,1.0,7.0,0,0,0,0,0,0,1
8230,738946F2XPvAibaEXe8Wb350a8ibnm5kQzFjIM2p,THPT,23.95,37.0,2.0,3.0,0,0,1,0,0,0,0
8231,332E756EXPvAibaEXe8Wb350a8ibnvs4VyUWS40K,THPT,21.50,2.0,1.0,6.0,0,0,0,0,0,1,0
8232,AB431338XPvAibaEXe8xMCTZ03/BexWzDCyWVsT3,THPT,24.70,47.0,2.0,4.0,0,0,0,1,0,0,0
8233,75AD7B4AXPvAibaEXe8xMCTZ03/BewoGrWSt0ZXM,THPT,24.95,42.0,2.0,4.0,0,0,0,1,0,0,0

In [5]:
df_thisinh.drop(columns=["khuvuc", "matinh", "diem_tt"], inplace=True)

# merge sinhvien & thisinh

In [9]:
merge_df = pd.merge(df_sinhvien, df_thisinh, on="mssv", how="inner")
merge_df

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,dien_tt,xl_tt,khuvuc_1.0,khuvuc_2.0,khuvuc_3.0,khuvuc_4.0,khuvuc_5.0,khuvuc_6.0,khuvuc_7.0
0,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1.0,KTPM0001,CNPM,CQUI,8.0,D480103,THPT,4.0,0,0,0,0,0,1,0
1,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,3.0,0,0,0,0,0,1,0
2,83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt,1.0,KHMT2013,KHMT,CQUI,8.0,D480101,THPT,3.0,0,0,0,0,0,1,0
3,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,2.0,0,0,0,0,0,1,0
4,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1.0,MMTT0001,MMT&TT,CQUI,8.0,D480201,THPT,4.0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,418187C9XPvAibaEXe8Wb350a8ibnhbWI4z++VY2,0.0,TMCL2019.2,HTTT,CLC,14.0,D52480104,THPT,1.0,0,0,0,0,0,0,1
8230,738946F2XPvAibaEXe8Wb350a8ibnm5kQzFjIM2p,0.0,TMĐT2019,HTTT,CQUI,14.0,D52480104,THPT,2.0,0,0,1,0,0,0,0
8231,332E756EXPvAibaEXe8Wb350a8ibnvs4VyUWS40K,0.0,HTCL2019.2,HTTT,CLC,14.0,D480104,THPT,1.0,0,0,0,0,0,1,0
8232,AB431338XPvAibaEXe8xMCTZ03/BexWzDCyWVsT3,1.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,0,0,1,0,0,0
8233,75AD7B4AXPvAibaEXe8xMCTZ03/BewoGrWSt0ZXM,1.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,0,0,1,0,0,0

# diem_av

In [29]:
df_av = pd.read_csv("../data_clean/04.xeploaiav.csv")
df_av

                                          mssv  total  xl_av
0     DA75FFFEXPvAibaEXe8808q51BnmQhHT8REwWMQJ   15.0    0.0
1     336B9F53XPvAibaEXe/jd8ghaf1GTNPSHNuhAHTZ   15.0    0.0
2     67A51DC3XPvAibaEXe/7YVAxOsMwOtCFvKInEQ0e   16.0    0.0
3     387E2EFEXPvAibaEXe96K1aB3B4cKSj8mKKciukN   16.0    0.0
4     13D900A2XPvAibaEXe97wmuqTYuV7bJOKimbzKxM   18.0    0.0
...                                        ...    ...    ...
6338  E8A5FA8CXPvAibaEXe/31hnRTOucclruvJrLqfHH   59.0    1.0
6339  B3487295XPvAibaEXe8iDpfibljbVHQ0k0Q2Ad15   69.0    2.0
6340  9166AE22XPvAibaEXe+V8Z3g2JN9F+ODXiTHI+x2   71.0    3.0
6341  2A792560XPvAibaEXe9gkNN06c3nLV4jpNl00QZq   56.0    1.0
6342  E95089F0XPvAibaEXe9S88+OcosOZnhlddS60pjv   79.0    3.0

[6343 rows x 3 columns]

In [33]:
df_av.drop(columns=["total"], inplace=True)

# merge diem_av

In [34]:
merge_df1 = pd.merge(merge_df, df_av, on="mssv", how="left")
merge_df1

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,dien_tt,xl_tt,khuvuc_1.0,khuvuc_2.0,khuvuc_3.0,khuvuc_4.0,khuvuc_5.0,khuvuc_6.0,khuvuc_7.0,xl_av
0,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1.0,KTPM0001,CNPM,CQUI,8.0,D480103,THPT,4.0,0,0,0,0,0,1,0,NaN
1,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,3.0,0,0,0,0,0,1,0,NaN
2,83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt,1.0,KHMT2013,KHMT,CQUI,8.0,D480101,THPT,3.0,0,0,0,0,0,1,0,NaN
3,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,2.0,0,0,0,0,0,1,0,NaN
4,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1.0,MMTT0001,MMT&TT,CQUI,8.0,D480201,THPT,4.0,0,0,0,0,0,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,418187C9XPvAibaEXe8Wb350a8ibnhbWI4z++VY2,0.0,TMCL2019.2,HTTT,CLC,14.0,D52480104,THPT,1.0,0,0,0,0,0,0,1,0.0
8230,738946F2XPvAibaEXe8Wb350a8ibnm5kQzFjIM2p,0.0,TMĐT2019,HTTT,CQUI,14.0,D52480104,THPT,2.0,0,0,1,0,0,0,0,0.0
8231,332E756EXPvAibaEXe8Wb350a8ibnvs4VyUWS40K,0.0,HTCL2019.2,HTTT,CLC,14.0,D480104,THPT,1.0,0,0,0,0,0,1,0,0.0
8232,AB431338XPvAibaEXe8xMCTZ03/BexWzDCyWVsT3,1.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,0,0,1,0,0,0,NaN
8233,75AD7B4AXPvAibaEXe8xMCTZ03/BewoGrWSt0ZXM,1.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,0,0,1,0,0,0,NaN

In [35]:
# Fillna xl_av
mode_xl_av = int(round(merge_df1["xl_av"].mean()))
merge_df1["xl_av"] = merge_df1["xl_av"].fillna(mode_xl_av)

In [37]:
merge_df1

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,dien_tt,xl_tt,khuvuc_1.0,khuvuc_2.0,khuvuc_3.0,khuvuc_4.0,khuvuc_5.0,khuvuc_6.0,khuvuc_7.0,xl_av
0,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1.0,KTPM0001,CNPM,CQUI,8.0,D480103,THPT,4.0,0,0,0,0,0,1,0,1.0
1,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,3.0,0,0,0,0,0,1,0,1.0
2,83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt,1.0,KHMT2013,KHMT,CQUI,8.0,D480101,THPT,3.0,0,0,0,0,0,1,0,1.0
3,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,2.0,0,0,0,0,0,1,0,1.0
4,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1.0,MMTT0001,MMT&TT,CQUI,8.0,D480201,THPT,4.0,0,0,0,0,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8229,418187C9XPvAibaEXe8Wb350a8ibnhbWI4z++VY2,0.0,TMCL2019.2,HTTT,CLC,14.0,D52480104,THPT,1.0,0,0,0,0,0,0,1,0.0
8230,738946F2XPvAibaEXe8Wb350a8ibnm5kQzFjIM2p,0.0,TMĐT2019,HTTT,CQUI,14.0,D52480104,THPT,2.0,0,0,1,0,0,0,0,0.0
8231,332E756EXPvAibaEXe8Wb350a8ibnvs4VyUWS40K,0.0,HTCL2019.2,HTTT,CLC,14.0,D480104,THPT,1.0,0,0,0,0,0,1,0,0.0
8232,AB431338XPvAibaEXe8xMCTZ03/BexWzDCyWVsT3,1.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,0,0,1,0,0,0,1.0
8233,75AD7B4AXPvAibaEXe8xMCTZ03/BewoGrWSt0ZXM,1.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,0,0,1,0,0,0,1.0

# dtbhk

In [69]:
df_dtbhk = pd.read_csv("../data_clean/sinhvien_dtb_hocky.csv")
df_dtbhk

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx
0,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2016,6.45,13,1
1,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2016,5.86,17,2
2,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2017,6.54,16,3
3,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2017,5.67,23,4
4,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2018,2.27,21,5
...,...,...,...,...,...,...
84947,EA2A92C2XPvAibaEXe99J3nD1pBZIshWCsT6VhsJ,1,2022,6.70,3,15
84948,ED5A0E45XPvAibaEXe/CiPILllTJf8s+lllUG7Kd,1,2022,7.80,3,15
84949,09DE3A51XPvAibaEXe/GEP39G15BdRSEDU3D3+LV,2,2022,0.00,0,12
84950,CCF627D0XPvAibaEXe+oAybUv81bbkc8L/mx+IhC,2,2022,0.00,0,14
84951,A6169055XPvAibaEXe81r7KrCH0uc4QKxDeoWYb4,2,2022,0.00,0,12

In [44]:
# In các học kỳ
df_dtbhk["hocky"].value_counts()

1    45013
2    35189
3     4750
Name: hocky, dtype: int64

In [45]:
# Bỏ dữ liệu học kỳ hè
df_dtbhk = df_dtbhk.drop(df_dtbhk[df_dtbhk["hocky"] == 3].index)

In [46]:
# Lọc những sinh viên có số học kỳ chính >= 7
df_filtered1 = df_dtbhk[df_dtbhk["hocky_sx"]>=7]
df_filtered1

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx
10091,528F8C01XPvAibaEXe8c/asunKa47A4PEbC2JQwZ,1,2018,7.75,12,7
10098,7A4947EAXPvAibaEXe8c/asunKa47MC7Zfux2sgr,1,2018,7.27,17,7
10105,775B0760XPvAibaEXe8c/asunKa47DSKf4pHLmHt,1,2018,7.78,20,7
10112,D17C7EEBXPvAibaEXe8c/asunKa47JL/mH8i+PZc,1,2018,8.05,17,7
10125,A823BC0FXPvAibaEXe8c/asunKa47LOnZ7N70p8c,1,2018,8.90,21,7
...,...,...,...,...,...,...
84947,EA2A92C2XPvAibaEXe99J3nD1pBZIshWCsT6VhsJ,1,2022,6.70,3,15
84948,ED5A0E45XPvAibaEXe/CiPILllTJf8s+lllUG7Kd,1,2022,7.80,3,15
84949,09DE3A51XPvAibaEXe/GEP39G15BdRSEDU3D3+LV,2,2022,0.00,0,12
84950,CCF627D0XPvAibaEXe+oAybUv81bbkc8L/mx+IhC,2,2022,0.00,0,14
84951,A6169055XPvAibaEXe81r7KrCH0uc4QKxDeoWYb4,2,2022,0.00,0,12

In [47]:
# Lọc các hàng trong danh sách ban đầu có mssv thuộc df_filtered1
df_filtered2 = df_dtbhk[df_dtbhk["mssv"].isin(df_filtered1["mssv"].unique())]
df_filtered2

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx
0,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2016,6.45,13,1
1,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2016,5.86,17,2
2,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2017,6.54,16,3
3,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2017,5.67,23,4
4,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2018,2.27,21,5
...,...,...,...,...,...,...
84947,EA2A92C2XPvAibaEXe99J3nD1pBZIshWCsT6VhsJ,1,2022,6.70,3,15
84948,ED5A0E45XPvAibaEXe/CiPILllTJf8s+lllUG7Kd,1,2022,7.80,3,15
84949,09DE3A51XPvAibaEXe/GEP39G15BdRSEDU3D3+LV,2,2022,0.00,0,12
84950,CCF627D0XPvAibaEXe+oAybUv81bbkc8L/mx+IhC,2,2022,0.00,0,14
84951,A6169055XPvAibaEXe81r7KrCH0uc4QKxDeoWYb4,2,2022,0.00,0,12

In [49]:
# Chỉ lọc từ học kỳ 1 đến 7 để huấn luyện
df_filtered = df_filtered2[df_filtered2["hocky_sx"]<=7]
df_filtered

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx
0,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2016,6.45,13,1
1,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2016,5.86,17,2
2,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2017,6.54,16,3
3,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2017,5.67,23,4
4,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2018,2.27,21,5
...,...,...,...,...,...,...
84941,1D37D345XPvAibaEXe9Zp44TyFcBSAN7u3B08mRX,1,2022,9.00,10,7
84942,7C75D925XPvAibaEXe9Zp44TyFcBSARHrqyLyabd,1,2022,8.84,13,7
84943,23A201EAXPvAibaEXe+QrwS/gm46TaMBrb4xyvLe,1,2022,9.00,10,7
84944,447A450FXPvAibaEXe+DUF+563kBvcBUq24gjVNl,1,2022,6.40,10,7
84945,15265D5AXPvAibaEXe9MnecufC0W/gKo6J+oNWGX,1,2022,9.00,10,7

In [50]:
pv_dtbhk = df_filtered.pivot_table(index="mssv", columns="hocky_sx", values="dtbhk")
pv_dtbhk

hocky_sx,1,2,3,4,5,6,7
mssv,,,,,,,
0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41
00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92
000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55
0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53
0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,7.96,8.04,6.91,8.49,8.85,7.40,0.00
...,...,...,...,...,...,...,...
FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,6.61,4.58,3.94,4.57,4.29,0.00,0.45
FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,9.13,7.84,7.39,7.68,7.94,8.15,9.40
FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,8.25,8.10,8.38,8.21,7.50,8.16,7.97
FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,4.64,6.76,6.51,7.28,7.89,7.26,7.88
FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,7.52,6.84,7.49,7.86,8.31,8.49,7.25

In [51]:
df_dtbhk_result = pv_dtbhk.reset_index()
df_dtbhk_result.columns.name = None
df_dtbhk_result.columns = ["mssv"] + ["dtb_hk" + str(col) for col in df_dtbhk_result.columns[1:]]
df_dtbhk_result

,mssv,dtb_hk1,dtb_hk2,dtb_hk3,dtb_hk4,dtb_hk5,dtb_hk6,dtb_hk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,7.96,8.04,6.91,8.49,8.85,7.40,0.00
...,...,...,...,...,...,...,...,...
7088,FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,6.61,4.58,3.94,4.57,4.29,0.00,0.45
7089,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,9.13,7.84,7.39,7.68,7.94,8.15,9.40
7090,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,8.25,8.10,8.38,8.21,7.50,8.16,7.97
7091,FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,4.64,6.76,6.51,7.28,7.89,7.26,7.88
7092,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,7.52,6.84,7.49,7.86,8.31,8.49,7.25

In [52]:
df_dtbhk_result.isna().sum()

mssv        0
dtb_hk1     0
dtb_hk2    23
dtb_hk3    18
dtb_hk4    36
dtb_hk5    56
dtb_hk6    56
dtb_hk7    37
dtype: int64

In [55]:
# Tính giá trị trung bình từng cột
mean_dtb_hk2 = df_dtbhk_result['dtb_hk2'].mean()
mean_dtb_hk3 = df_dtbhk_result['dtb_hk3'].mean()
mean_dtb_hk4 = df_dtbhk_result['dtb_hk4'].mean()
mean_dtb_hk5 = df_dtbhk_result['dtb_hk5'].mean()
mean_dtb_hk6 = df_dtbhk_result['dtb_hk6'].mean()
mean_dtb_hk7 = df_dtbhk_result['dtb_hk7'].mean()

# Fillna cho từng cột bằng giá trị trung bình tương ứng
df_dtbhk_result['dtb_hk2'].fillna(mean_dtb_hk2, inplace=True)
df_dtbhk_result['dtb_hk3'].fillna(mean_dtb_hk3, inplace=True)
df_dtbhk_result['dtb_hk4'].fillna(mean_dtb_hk4, inplace=True)
df_dtbhk_result['dtb_hk5'].fillna(mean_dtb_hk5, inplace=True)
df_dtbhk_result['dtb_hk6'].fillna(mean_dtb_hk6, inplace=True)
df_dtbhk_result['dtb_hk7'].fillna(mean_dtb_hk7, inplace=True)

# drl

In [62]:
df_drl = pd.read_csv("../data_clean/07.diemrl.csv")
df_drl.drop(columns=["id", "drl"], inplace=True)
df_drl

                                            mssv  hocky  namhoc  xl_drl
0       2A10C466XPvAibaEXe8vcQUX+A6FeNIl5Loug1zV      2    2013       4
1       903ADF1AXPvAibaEXe9p5G9u2qRxxZEjiJjD4Ztl      2    2013       4
2       F06EDFFEXPvAibaEXe8KSegZW1rFPMNPBQ+c9rst      2    2013       5
3       AA868AD5XPvAibaEXe+1Gm1QkI5oNyTYwjwmgxhx      2    2013       4
4       E7105148XPvAibaEXe+E7LJdSZ9AW2sUcg4OSCnU      2    2013       4
...                                          ...    ...     ...     ...
111973  BEE29266XPvAibaEXe+sfYgLIH7gO26xJqZJX9CM      1    2022       5
111974  D939EB2AXPvAibaEXe+sfYgLIH7gO3/6Lj8KC/E/      1    2022       4
111975  4F301633XPvAibaEXe+sfYgLIH7gO18shsVHajwn      1    2022       5
111976  783E8288XPvAibaEXe+sfYgLIH7gO/Sehf33Nrd5      1    2022       4
111977  2F3C5091XPvAibaEXe+sfYgLIH7gOxzJxMJIBXzw      1    2022       4

[111978 rows x 4 columns]

# merge dtb&drl

In [71]:
merge_df2 = pd.merge(df_dtbhk, df_drl, on=["mssv", "namhoc", "hocky"], how="left")
merge_df2

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx,xl_drl
0,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2016,6.45,13,1,3.0
1,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2016,5.86,17,2,3.0
2,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2017,6.54,16,3,3.0
3,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2017,5.67,23,4,3.0
4,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2018,2.27,21,5,3.0
...,...,...,...,...,...,...,...
84947,EA2A92C2XPvAibaEXe99J3nD1pBZIshWCsT6VhsJ,1,2022,6.70,3,15,NaN
84948,ED5A0E45XPvAibaEXe/CiPILllTJf8s+lllUG7Kd,1,2022,7.80,3,15,NaN
84949,09DE3A51XPvAibaEXe/GEP39G15BdRSEDU3D3+LV,2,2022,0.00,0,12,NaN
84950,CCF627D0XPvAibaEXe+oAybUv81bbkc8L/mx+IhC,2,2022,0.00,0,14,NaN
84951,A6169055XPvAibaEXe81r7KrCH0uc4QKxDeoWYb4,2,2022,0.00,0,12,NaN

In [74]:
# Bỏ dữ liệu học kỳ hè
merge_df2 = merge_df2.drop(merge_df2[merge_df2["hocky"] == 3].index)
merge_df2.shape

(80202, 7)

In [75]:
# Thống kê dữ liệu thiếu
merge_df2.isna().sum()

mssv           0
hocky          0
namhoc         0
dtbhk          0
sotchk         0
hocky_sx       0
xl_drl      2163
dtype: int64

In [78]:
# Lọc những sinh viên có số học kỳ đã học >= 7
filtered_sv = merge_df2["mssv"][merge_df2["hocky_sx"]>=7].unique()
filtered_sv

array(['528F8C01XPvAibaEXe8c/asunKa47A4PEbC2JQwZ',
       '7A4947EAXPvAibaEXe8c/asunKa47MC7Zfux2sgr',
       '775B0760XPvAibaEXe8c/asunKa47DSKf4pHLmHt', ...,
       '23A201EAXPvAibaEXe+QrwS/gm46TaMBrb4xyvLe',
       '447A450FXPvAibaEXe+DUF+563kBvcBUq24gjVNl',
       '15265D5AXPvAibaEXe9MnecufC0W/gKo6J+oNWGX'], dtype=object)

In [82]:
df_filtered = merge_df2[(merge_df2["mssv"].isin(filtered_sv)) 
                        & (merge_df2["hocky_sx"]<=7)]
df_filtered

,mssv,hocky,namhoc,dtbhk,sotchk,hocky_sx,xl_drl
0,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2016,6.45,13,1,3.0
1,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2016,5.86,17,2,3.0
2,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2017,6.54,16,3,3.0
3,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,2,2017,5.67,23,4,3.0
4,48685401XPvAibaEXe99yNsueYx+scOnjQSx4nXO,1,2018,2.27,21,5,3.0
...,...,...,...,...,...,...,...
84941,1D37D345XPvAibaEXe9Zp44TyFcBSAN7u3B08mRX,1,2022,9.00,10,7,5.0
84942,7C75D925XPvAibaEXe9Zp44TyFcBSARHrqyLyabd,1,2022,8.84,13,7,5.0
84943,23A201EAXPvAibaEXe+QrwS/gm46TaMBrb4xyvLe,1,2022,9.00,10,7,4.0
84944,447A450FXPvAibaEXe+DUF+563kBvcBUq24gjVNl,1,2022,6.40,10,7,3.0
84945,15265D5AXPvAibaEXe9MnecufC0W/gKo6J+oNWGX,1,2022,9.00,10,7,5.0

## pivot_dtbhk

In [146]:
pv_dtbhk = df_filtered.pivot_table(index="mssv", columns="hocky_sx", values="dtbhk")
pv_dtbhk = pv_dtbhk.reset_index()
pv_dtbhk.columns.name = None
pv_dtbhk.columns = ["mssv"] + ["dtbhk" + str(col) for col in pv_dtbhk.columns[1:]]
pv_dtbhk

,mssv,dtbhk1,dtbhk2,dtbhk3,dtbhk4,dtbhk5,dtbhk6,dtbhk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,7.96,8.04,6.91,8.49,8.85,7.40,0.00
...,...,...,...,...,...,...,...,...
7088,FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,6.61,4.58,3.94,4.57,4.29,0.00,0.45
7089,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,9.13,7.84,7.39,7.68,7.94,8.15,9.40
7090,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,8.25,8.10,8.38,8.21,7.50,8.16,7.97
7091,FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,4.64,6.76,6.51,7.28,7.89,7.26,7.88
7092,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,7.52,6.84,7.49,7.86,8.31,8.49,7.25

## pv_drl

In [147]:
pv_drl = df_filtered.pivot_table(index="mssv", columns="hocky_sx", values="xl_drl")
pv_drl = pv_drl.reset_index()
pv_drl.columns.name = None
pv_drl.columns = ["mssv"] + ["xl_drl" + str(col) for col in pv_drl.columns[1:]]
pv_drl

,mssv,xl_drl1,xl_drl2,xl_drl3,xl_drl4,xl_drl5,xl_drl6,xl_drl7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,5.0,5.0,5.0,5.0,5.0,5.0,5.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,4.0,3.0,3.0,5.0,3.0,3.0,2.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,4.0,5.0,5.0,5.0,5.0,5.0,4.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,5.0,5.0,5.0,3.0,4.0,5.0,5.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,5.0,5.0,5.0,5.0,5.0,5.0,NaN
...,...,...,...,...,...,...,...,...
7088,FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,3.0,3.0,0.0,3.0,0.0,0.0,0.0
7089,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,5.0,5.0,5.0,5.0,5.0,5.0,5.0
7090,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,5.0,5.0,5.0,4.0,5.0,3.0,3.0
7091,FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,3.0,4.0,3.0,3.0,3.0,3.0,3.0
7092,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,3.0,3.0,4.0,4.0,4.0,4.0,5.0

In [152]:
merge_pv = pd.merge(pv_dtbhk, pv_drl, on="mssv", how="outer")
merge_pv

,mssv,dtbhk1,dtbhk2,dtbhk3,dtbhk4,dtbhk5,dtbhk6,dtbhk7,xl_drl1,xl_drl2,xl_drl3,xl_drl4,xl_drl5,xl_drl6,xl_drl7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41,5.0,5.0,5.0,5.0,5.0,5.0,5.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92,4.0,3.0,3.0,5.0,3.0,3.0,2.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55,4.0,5.0,5.0,5.0,5.0,5.0,4.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53,5.0,5.0,5.0,3.0,4.0,5.0,5.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,7.96,8.04,6.91,8.49,8.85,7.40,0.00,5.0,5.0,5.0,5.0,5.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7088,FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,6.61,4.58,3.94,4.57,4.29,0.00,0.45,3.0,3.0,0.0,3.0,0.0,0.0,0.0
7089,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,9.13,7.84,7.39,7.68,7.94,8.15,9.40,5.0,5.0,5.0,5.0,5.0,5.0,5.0
7090,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,8.25,8.10,8.38,8.21,7.50,8.16,7.97,5.0,5.0,5.0,4.0,5.0,3.0,3.0
7091,FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,4.64,6.76,6.51,7.28,7.89,7.26,7.88,3.0,4.0,3.0,3.0,3.0,3.0,3.0
7092,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,7.52,6.84,7.49,7.86,8.31,8.49,7.25,3.0,3.0,4.0,4.0,4.0,4.0,5.0

## pv_sotchk

In [153]:
pv_sotchk = df_filtered.pivot_table(index="mssv", columns="hocky_sx", values="sotchk")
pv_sotchk = pv_sotchk.reset_index()
pv_sotchk.columns.name = None
pv_sotchk.columns = ["mssv"] + ["sotchk" + str(col) for col in pv_sotchk.columns[1:]]
pv_sotchk

,mssv,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,17.0,21.0,15.0,19.0,20.0,20.0,9.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,22.0,15.0,25.0,16.0,14.0,14.0,21.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,17.0,20.0,15.0,20.0,20.0,19.0,15.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,17.0,25.0,23.0,22.0,22.0,15.0,12.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,17.0,23.0,18.0,22.0,23.0,22.0,0.0
...,...,...,...,...,...,...,...,...
7088,FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,19.0,13.0,16.0,14.0,16.0,14.0,10.0
7089,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,16.0,19.0,21.0,19.0,20.0,15.0,10.0
7090,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,22.0,21.0,24.0,18.0,15.0,14.0,18.0
7091,FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,20.0,20.0,17.0,18.0,19.0,18.0,16.0
7092,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,19.0,21.0,21.0,19.0,18.0,19.0,18.0

In [154]:
merge_pv = pd.merge(merge_pv, pv_sotchk, on="mssv", how="outer")
merge_pv

,mssv,dtbhk1,dtbhk2,dtbhk3,dtbhk4,dtbhk5,dtbhk6,dtbhk7,xl_drl1,xl_drl2,...,xl_drl5,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41,5.0,5.0,...,5.0,5.0,5.0,17.0,21.0,15.0,19.0,20.0,20.0,9.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92,4.0,3.0,...,3.0,3.0,2.0,22.0,15.0,25.0,16.0,14.0,14.0,21.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55,4.0,5.0,...,5.0,5.0,4.0,17.0,20.0,15.0,20.0,20.0,19.0,15.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53,5.0,5.0,...,4.0,5.0,5.0,17.0,25.0,23.0,22.0,22.0,15.0,12.0
4,0018C59CXPvAibaEXe8C3lblh2dNniH+SYgLosUA,7.96,8.04,6.91,8.49,8.85,7.40,0.00,5.0,5.0,...,5.0,5.0,NaN,17.0,23.0,18.0,22.0,23.0,22.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7088,FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,6.61,4.58,3.94,4.57,4.29,0.00,0.45,3.0,3.0,...,0.0,0.0,0.0,19.0,13.0,16.0,14.0,16.0,14.0,10.0
7089,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,9.13,7.84,7.39,7.68,7.94,8.15,9.40,5.0,5.0,...,5.0,5.0,5.0,16.0,19.0,21.0,19.0,20.0,15.0,10.0
7090,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,8.25,8.10,8.38,8.21,7.50,8.16,7.97,5.0,5.0,...,5.0,3.0,3.0,22.0,21.0,24.0,18.0,15.0,14.0,18.0
7091,FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,4.64,6.76,6.51,7.28,7.89,7.26,7.88,3.0,4.0,...,3.0,3.0,3.0,20.0,20.0,17.0,18.0,19.0,18.0,16.0
7092,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,7.52,6.84,7.49,7.86,8.31,8.49,7.25,3.0,3.0,...,4.0,4.0,5.0,19.0,21.0,21.0,19.0,18.0,19.0,18.0

In [156]:
merge_pv.dropna(inplace=True)
merge_pv

,mssv,dtbhk1,dtbhk2,dtbhk3,dtbhk4,dtbhk5,dtbhk6,dtbhk7,xl_drl1,xl_drl2,...,xl_drl5,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7
0,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,8.84,9.00,9.11,8.75,8.54,8.74,8.41,5.0,5.0,...,5.0,5.0,5.0,17.0,21.0,15.0,19.0,20.0,20.0,9.0
1,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,5.41,7.07,6.36,8.32,7.86,8.09,6.92,4.0,3.0,...,3.0,3.0,2.0,22.0,15.0,25.0,16.0,14.0,14.0,21.0
2,000AD0D8XPvAibaEXe+RQyZpP6sq6qqIPZXybx3Q,8.85,8.64,8.41,8.05,7.46,7.28,8.55,4.0,5.0,...,5.0,5.0,4.0,17.0,20.0,15.0,20.0,20.0,19.0,15.0
3,0013D6E5XPvAibaEXe85hkLGQAJy3XgK9pA18A31,8.31,8.14,7.01,7.87,8.04,8.89,8.53,5.0,5.0,...,4.0,5.0,5.0,17.0,25.0,23.0,22.0,22.0,15.0,12.0
5,001E045BXPvAibaEXe+n07P56kWx2N6EoOCUJBA4,6.58,1.90,7.16,3.33,1.10,6.27,5.22,4.0,3.0,...,2.0,3.0,3.0,16.0,20.0,14.0,18.0,8.0,12.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7088,FFDFD671XPvAibaEXe8/3iNqySORb8gPuwsQ8fwa,6.61,4.58,3.94,4.57,4.29,0.00,0.45,3.0,3.0,...,0.0,0.0,0.0,19.0,13.0,16.0,14.0,16.0,14.0,10.0
7089,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,9.13,7.84,7.39,7.68,7.94,8.15,9.40,5.0,5.0,...,5.0,5.0,5.0,16.0,19.0,21.0,19.0,20.0,15.0,10.0
7090,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,8.25,8.10,8.38,8.21,7.50,8.16,7.97,5.0,5.0,...,5.0,3.0,3.0,22.0,21.0,24.0,18.0,15.0,14.0,18.0
7091,FFEF294AXPvAibaEXe/ceziXFRXnLc/x/K0hVw4d,4.64,6.76,6.51,7.28,7.89,7.26,7.88,3.0,4.0,...,3.0,3.0,3.0,20.0,20.0,17.0,18.0,19.0,18.0,16.0
7092,FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT,7.52,6.84,7.49,7.86,8.31,8.49,7.25,3.0,3.0,...,4.0,4.0,5.0,19.0,21.0,21.0,19.0,18.0,19.0,18.0

# merge sinhvien_info & diem

In [161]:
result = pd.merge(merge_df1, merge_pv, on="mssv", how="inner")
result

,mssv,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,dien_tt,xl_tt,khuvuc_1.0,...,xl_drl5,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7
0,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1.0,KTPM0001,CNPM,CQUI,8.0,D480103,THPT,4.0,0,...,5.0,3.0,2.0,22.0,18.0,26.0,19.0,20.0,19.0,16.0
1,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,3.0,0,...,4.0,3.0,2.0,19.0,13.0,16.0,14.0,16.0,15.0,10.0
2,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,2.0,0,...,3.0,2.0,2.0,19.0,10.0,21.0,17.0,16.0,15.0,10.0
3,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1.0,MMTT0001,MMT&TT,CQUI,8.0,D480201,THPT,4.0,0,...,3.0,3.0,3.0,22.0,21.0,24.0,17.0,15.0,14.0,18.0
4,4D1054A2XPvAibaEXe8WD3qnVG2b/aV/yYzs56/D,0.0,KTPM0001,CNPM,CQUI,8.0,D480103,THPT,3.0,0,...,5.0,3.0,3.0,22.0,22.0,19.0,21.0,16.0,15.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6828,09136C26XPvAibaEXe8Wb350a8ibngGn7z1HgeSI,0.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,...,5.0,5.0,5.0,13.0,19.0,20.0,8.0,23.0,19.0,15.0
6829,418187C9XPvAibaEXe8Wb350a8ibnhbWI4z++VY2,0.0,TMCL2019.2,HTTT,CLC,14.0,D52480104,THPT,1.0,0,...,5.0,5.0,5.0,13.0,20.0,18.0,18.0,17.0,16.0,15.0
6830,738946F2XPvAibaEXe8Wb350a8ibnm5kQzFjIM2p,0.0,TMĐT2019,HTTT,CQUI,14.0,D52480104,THPT,2.0,0,...,5.0,4.0,3.0,13.0,19.0,19.0,21.0,18.0,15.0,13.0
6831,AB431338XPvAibaEXe8xMCTZ03/BexWzDCyWVsT3,1.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,...,5.0,5.0,4.0,13.0,15.0,20.0,8.0,24.0,20.0,19.0
6832,75AD7B4AXPvAibaEXe8xMCTZ03/BewoGrWSt0ZXM,1.0,KHMT2019,KHMT,CQUI,14.0,D480101,THPT,2.0,0,...,5.0,3.0,2.0,13.0,15.0,21.0,22.0,22.0,14.0,12.0

In [162]:
result.khoahoc.value_counts()

14.0    1484
13.0    1159
12.0     904
11.0     875
10.0     845
9.0      813
8.0      753
Name: khoahoc, dtype: int64

# Train

In [170]:
from sklearn.linear_model import LinearRegression

In [164]:
data_train = result[result["khoahoc"]!=14].drop(columns=["mssv"])
data_test = result[result["khoahoc"]==14].drop(columns=["mssv"])
print(data_train.shape)
print(data_test.shape)

(5349, 37)
(1484, 37)

In [166]:
data_train.head()

,gioitinh,lopsh,khoa,hedt,khoahoc,chuyennganh2,dien_tt,xl_tt,khuvuc_1.0,khuvuc_2.0,...,xl_drl5,xl_drl6,xl_drl7,sotchk1,sotchk2,sotchk3,sotchk4,sotchk5,sotchk6,sotchk7
0,1.0,KTPM0001,CNPM,CQUI,8.0,D480103,THPT,4.0,0,0,...,5.0,3.0,2.0,22.0,18.0,26.0,19.0,20.0,19.0,16.0
1,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,3.0,0,0,...,4.0,3.0,2.0,19.0,13.0,16.0,14.0,16.0,15.0,10.0
2,1.0,HTTT0001,HTTT,CTTT,8.0,D480104,THPT,2.0,0,0,...,3.0,2.0,2.0,19.0,10.0,21.0,17.0,16.0,15.0,10.0
3,1.0,MMTT0001,MMT&TT,CQUI,8.0,D480201,THPT,4.0,0,0,...,3.0,3.0,3.0,22.0,21.0,24.0,17.0,15.0,14.0,18.0
4,0.0,KTPM0001,CNPM,CQUI,8.0,D480103,THPT,3.0,0,0,...,5.0,3.0,3.0,22.0,22.0,19.0,21.0,16.0,15.0,16.0

## predict hk2

In [234]:
X_train = data_train[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "sotchk2"]]
X_test = data_test[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "sotchk2"]]
y_train = data_train["dtbhk2"]
y_test = data_test["dtbhk2"]

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.608128795642373

In [233]:
X_train = data_train[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "sotchk3"]]
X_test = data_test[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "sotchk3"]]
y_train = data_train["dtbhk3"]
y_test = data_test["dtbhk3"]

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.6028116886002723

In [230]:
X_train = data_train[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "sotchk4"]]
X_test = data_test[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "sotchk4"]]
y_train = data_train["dtbhk4"]
y_test = data_test["dtbhk4"]

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.44303188630158474

In [228]:
X_train = data_train[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "dtbhk4", "xl_drl4", "sotchk5"]]
X_test = data_test[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "dtbhk4", "xl_drl4", "sotchk5"]]
y_train = data_train["dtbhk5"]
y_test = data_test["dtbhk5"]

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.40204268955324385

In [229]:
X_train = data_train[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "dtbhk4", "xl_drl4", "dtbhk5", "xl_drl5", "sotchk6"]]
X_test = data_test[["gioitinh", "xl_tt", "dtbhk1", "xl_drl1", "dtbhk2", "xl_drl2", "dtbhk3", "xl_drl3", "dtbhk4", "xl_drl4", "dtbhk5", "xl_drl5", "sotchk6"]]
y_train = data_train["dtbhk6"]
y_test = data_test["dtbhk6"]

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.4326609836150196